    <section class="bg-primary" id={{this.alias}}>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">{{this.content.default.title}}</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">{{this.content.default.subTitle}}</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href={{this.content.default.link}}>{{this.content.default.linkText}}</a>
          </div>
        </div>
      </div>
    </section>